<div class="row">
  <div class="col title">
    Weekly Time Calculator
  </div>
</div>
<app-select-employee></app-select-employee>
<div class="row">
  <div class="col">

    <app-day *ngFor="let day of daysOfTheWeek; let i = index" [day]="day" [daysOfTheWeek]="daysOfTheWeek"
      (dayEvent)="emitDay($event)" [hundrs]="hundrs" #dayComponent>
    </app-day>

    <div class="row" *ngIf="!!totalState.totalDifferenceOfMinutes && totalState.totalDifferenceOfMinutes > 0">
      <div class="col">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Total Hours & Minutes</th>
              <th scope="col">Total Decimal</th>
              <th scope="col">Total Lunch Minutes</th>
              <th scope="col">Bonus Time (h/m)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{totalState.totalAMorPMCalculated}}</td>
              <td>{{totalState.totalDecimalCalculated}}</td>
              <td>{{totalState.totalLunch}}<span *ngIf="!!totalState.totalLunch && totalState.totalLunch > 0"> MIN
                  LUNCH</span></td>
              <td>{{totalState.totalBonusTimeHM}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col reset">
        <button (click)="resetChildrenForms()" type="button" class="btn btn-warning float-right">Reset</button>
      </div>
    </div>

  </div>
</div>
