<form [formGroup]="dayForm">
  <div class="row subcontainer">

    <div class="col col-lg-12">

      <div class="row">
        <!-- Day of the Week -->
        <div class="col col-lg-4">
          <select class="form-control" id="{{day.text + day.id}}" formControlName="dayOfWeek">
            <option *ngFor="let x of daysOfTheWeek" value="{{x.text}}">{{capitolize(x.text)}}</option>
          </select>
        </div>

        <!-- Start Time Group -->
        <div class="form-group col col-lg-4">
          <div class="input-group">

            <span class="input-group-prepend input-group-text">Starting Time: </span>

            <select class="form-control" id="{{day.text + day.id + 'startHour'}}" formControlName="startHour">
              <option *ngFor="let num of numberOfHours" value="{{num + 1}}">{{num + 1}}</option>
            </select>

            <select class="form-control" id="{{day.text + day.id + 'startMinute'}}" formControlName="startMinute">
              <option *ngFor="let num of numberOfMinutes" value="{{num}}">{{num}}</option>
            </select>

            <select class="form-control" id="{{day.text + day.id + 'startAMorPM'}}" formControlName="startAMorPM">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>

          </div>
        </div>

        <!-- End Time Group -->
        <div class="form-group col col-lg-4">
          <div class="input-group">

            <span class="input-group-prepend input-group-text">Ending Time: </span>

            <select class="form-control" id="{{day.text + day.id + 'endHour'}}" formControlName="endHour">
              <option *ngFor="let num of numberOfHours" value="{{num}}">{{num}}</option>
            </select>

            <select class="form-control" id="{{day.text + day.id + 'endMinute'}}" formControlName="endMinute">
              <option *ngFor="let num of numberOfMinutes" value="{{num}}">{{num}}</option>
            </select>

            <select class="form-control" id="{{day.text + day.id + 'endAMorPM'}}" formControlName="endAMorPM">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>

          </div>
        </div>

      </div>


      <div class="row justify-content-end">
        <!-- Final Time Group -->
        <div class="form-group col col-lg-8">

          <table class="table" *ngIf="!!dailyState.finalAMorPMCalculated">
            <thead>
              <tr>
                <th scope="col">Hours & Minutes</th>
                <th scope="col">Decimal</th>
                <th scope="col">Lunch Minutes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{dailyState.finalAMorPMCalculated}}</td>
                <td>{{dailyState.finalDecimalCalculated}}</td>
                <td>{{dailyState.finalLunch}}<span *ngIf="!!finalLunchBool"> MIN LUNCH</span></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>
</form>

<!-- {{this.dayForm.value | json}} -->
