.subcontainer {
  font-size: 14px;

  .title {
    font-size: 30px;
    color: red;
  }
}

.input-group-prepend {
  font-size: 12px;
}

.day-select {
  text-align: center;
}

#startAMorPM {
  width: 5px;
}

@media (min-width: 576px) {
  .final-calc-table {
    padding-right: 7rem;
  }
}
