<form [formGroup]="dayForm">
  <div class="row subcontainer">

    <div class="col col-lg-12">

      <div class="row">
        <!-- Day of the Week -->
        <div class="col-lg-1 col-sm-12 col-xs-12">
          <h5>{{day.shortText}}</h5>
        </div>

        <!-- Start Time Group -->
        <div class="form-group col-lg-5 col-s-6 col-xs-6">
          <p class="h6">Starting Time: </p>
          <div class="input-group">


            <select class="form-control" id="startHour" formControlName="startHour">
              <option *ngFor="let num of numberOfHours" value="{{num + 1}}">
                {{num < 9 ? '0'+ (num + 1).toString() : (num + 1)}}
              </option>
            </select>

            <select class="form-control" id="startMinute" formControlName="startMinute">
              <option *ngFor="let num2 of numberOfMinutes" value="{{num2}}">
                {{num2 < 10 ? '0' + (num2).toString() : (num2)}}
              </option>
            </select>

            <select class="form-control" id="startAMorPM" formControlName="startAMorPM">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>

          </div>
        </div>

        <!-- End Time Group -->
        <div class="form-group col col-lg-5">
          <p class="h6">Ending Time: </p>
          <div class="input-group">


            <select class="form-control" id="endHour" formControlName="endHour">
              <option *ngFor="let num of numberOfHours" value="{{num + 1}}">
                {{num < 9 ? '0'+ (num + 1).toString() : (num + 1)}}
              </option>
            </select>

            <select class="form-control" id="endMinute" formControlName="endMinute">
              <option *ngFor="let num of numberOfMinutes" value="{{num}}">
                {{num < 10 ? '0' + (num).toString() : (num)}}
              </option>
            </select>

            <select class="form-control" id="endAMorPM" formControlName="endAMorPM">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>

          </div>
        </div>

      </div>


      <div class="row justify-content-end">
        <!-- Final Time Group -->
        <div class="form-group col-lg-10 final-calc-table">

          <table class="table" *ngIf="!!dailyState.finalAMorPMCalculated">
            <thead>
              <tr>
                <th scope="col">Hours & Minutes</th>
                <th scope="col">Decimal</th>
                <th scope="col">Lunch Minutes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{dailyState.finalAMorPMCalculated}}</td>
                <td>{{dailyState.finalDecimalCalculated}}</td>
                <td>{{dailyState.finalLunch}}<span *ngIf="!!dailyState.finalLunch"> MIN LUNCH</span></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>
</form>

<!-- {{this.dayForm.value | json}} -->
